<% include Partial/header.ejs%>
<% include Partial/navbar.ejs%>

<h1>Innovation Showcase</h1>
<h2>Arduino Calculator</h2>
<p>Made an Arduino Calculator in Semester 1 in Georgian College of Applied Arts And Technology, which gave me a self confidece
to innovate things and bring my ideas into practical approach.</p>
<p> It basically consists of a  cardboard and aluminium foil which basically looked like a Calculator</p>
<img src ="../images/Piano.jpg" alt="piano description" width="250" height="150">

<h3>Live Website</h3>
<p>Created a website using HTML and CSS ..</p>
<p>both these projects had a great impact on my life which helped me in learning the web language and the coding 
</p>



<% include Partial/footer.ejs%>
